// This is the general overriding stuff//

$headingColor: $highlight_color;

$mainFontSize: 37px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: 1px 2px $mainColor;
$heading1TextShadow: $headingTextShadow;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );
$logo_image: none;


section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Overrides ------------------------------

.reveal .slides {
        text-align: left;
        line-height: 1.15em;
        }

.reveal strong {color: $highlight_color;}

.slide-background {
<<<<<<< HEAD
// .slide-background {background-image: $logo_image;
  background-size:
	12.5%,auto;
=======
  background-size: 12.5%;
>>>>>>> 63e710c... fixes
  background-repeat: no-repeat;
  background-position: top 20px left 15px, top 20px right 20px;
}

.reveal .dom {
		background-color: rgba(250, 250, 250, 0.4);
		padding: 1em;
		margin: -1em;
		}


.reveal .bottom {font-size: 0.5em !important;
		display: block;
		/* position: fixed; */
		bottom: 5%;
		margin-top: 15%;
		font-family: sans-serif;
    line-height: 1.6em;
	}

.reveal .bottom p {padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;}


.reveal .center-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 60%;
		max-height: 550px;
		background: none !important;
		/* box-shadow: none !important; */
		border: 0px;
		position:  relative;
}

.reveal .normativa {
  font-size: 0.65em;
  font-family: monospace;
  color: #1a1aac; }

.reveal .center {text-align: center;}

.reveal .center-img-large {
		display: block;
		margin-left: auto;
		margin-right: auto;
		min-height: 60%;
<<<<<<< HEAD
  	max-width: 95%;
  	max-height: 95%;
=======
		max-width: 95%;
		max-height: 95%;
>>>>>>> 3309adc... css: fix large image
		background: none;
		box-shadow: none;
		border: 0px;
	}

	.reveal .borderless {border: none;}

	.small {font-size: 0.6em !important;
	  font-family: sans-serif;
	  margin-right: 10%;
	  margin-left: 5%;
	}

.reveal .slides section .fragment.highlight-bold {
  opacity: 1;
  visibility: inherit; }

.reveal .slides section .fragment.highlight-bold.visible {
  color: $highlight_color; }

.reveal .slides section .fragment.highlight-current-bold.current-fragment {
  color: $highlight_color; }


// Colors -----------------


	.fa-red {color: #cc0000; }

	.fa-green {color: darkgreen;}

<<<<<<< HEAD
	.fa-strong {color: $highlight_color; font-weight: bold; }
=======
	.fa-strong {color: $highlight_color;}

	// Fragments -----------------

	.reveal .slides section .fragment.highlight-bold,
 {
  opacity: 1;
  visibility: inherit; }

.reveal .slides section .fragment.highlight-bold.visible {
  color: $highlight_color }

.reveal .slides section .fragment.highlight-current-bold.current-fragment {
  color: $highlight_color }
>>>>>>> 4bd01b1... fragment, turn into Bold (whichever color it is)
